.App .FeedView {
  background-color: green;
  justify-content: space-between;
}

.FeedContent {}

.FeedView .LeftSidebar {
  justify-content: start;
}

.App .FeedView .LSSuggestedConnections .MuiTypography-displayBlock {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline;
}