.OfferingCard {
  background-color: #f8f0e4;
  min-width: 200px;
  width: 300px;
  max-width: 90%;
  border: 1px solid beige;
  margin: 20px 15px;
  display: grid;
  grid-template-areas: 
    'image'
    'lowerCard'
  ;
  grid-template-rows: 40% auto;
  grid-template-columns: 100%;
  color: whitesmoke;
}
.darkmode .OfferingCard {
  background-color: #292c2c;
}
  .OfferingCard .otherClass {
    position: absolute;
    font-size: 15px;
    background-color: #1311117d;
    color: white;
    padding: 5px 10px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .OfferingCard .divider {
    padding: 0;
    width: 90%;
    background: #80808078;
    height: 1px;
  }
  .OfferingCard .imgLink {
    grid-area: image;
    overflow: hidden;
  }
    .OfferingCard .imgLink .img {
      max-height: 175px;
      object-fit: cover;
    }
  .OfferingCard .lowerCard {
    justify-content: start;
    padding: 10px;
    font-size: 13px;
  }
    .OfferingCard .lowerCard .title {
      align-self: center;
      padding: 0 2px 5px 2px;
      justify-content: space-between;
    }
      .OfferingCard .lowerCard .title .link {
        font-size: 17px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        align-items: center;
        color: inherit;
        text-decoration: unset;
        font-weight: 500;
      }
      .OfferingCard .lowerCard .title .favorite {
        cursor: pointer;
        align-items: center;
        font-size: 20px;
      }
    .OfferingCard .lowerCard .sponsor {
      padding: 0 2px;
      padding-bottom: 15px;
      justify-content: space-between;
    }
      .OfferingCard .lowerCard .sponsor .link {
        text-decoration: none;
        text-align: start;
        color: inherit;
        font-size: 13px;
      }
      .OfferingCard .lowerCard .sponsor .investmentClass {
        background-color: #cff2cf5e;
        padding: 2px 5px;
      }
    .OfferingCard .lowerCard .info {
      flex: 1;
      justify-content: start;
      align-items: start;
    }
      .OfferingCard .lowerCard .info > .item {
        padding: 5px 0;
        justify-content: space-between;
        width: 100%;
      }
        .OfferingCard .lowerCard .info > .item > div {
          padding: 0 5px;
        }
    .OfferingCard .lowerCard .annualInterest.info {
    }
    .OfferingCard .lowerCard .termLength.info {
    }
    .OfferingCard .lowerCard .offeringSize.info {
    }