* {
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.w100 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.h100 {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}
.flexcol {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.level-0 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.411);
}
.level-1 {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.411);
}
.level-2 {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.411);
}
.level-3 {
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.411);
}
.level-4 {
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.411);
}
.level-5 {
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.411);
}
.level-6 {
  box-shadow: 0px 0px 30px 18px rgba(0, 0, 0, 0.411);
}

.ctnr {
  border-radius: 5px;
}