body {
  /* height: 100vh;
  max-height: 100vh;
  min-height: 100vh; */
}
#root {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

* {
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  box-sizing: border-box;
  /* outline-width: 0.5px;
  outline-color: rgb(201, 216, 201);
  outline-style: dashed; */
}
.darkmode {
  color: whitesmoke;
} 
.w100 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.h100 {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}
.flexcol {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.level-0 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.411);
}
.level-1 {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.411);
}
.level-2 {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.411);
}
.level-3 {
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.411);
}
.level-4 {
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.411);
}
.level-5 {
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.411);
}
.level-6 {
  box-shadow: 0px 0px 30px 18px rgba(0, 0, 0, 0.411);
}
.f1 {flex: 1;}
.f0 {flex: 0;}
.ctnr {
  border: 1px solid grey;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.navBarLink {
  transition-property: border-color, color, background-color, box-shadow;
  -o-transition-property: border-color, color, background-color, box-shadow;
  -moz-transition-property: border-color, color, background-color, box-shadow;
  -webkit-transition-property: border-color, color, background-color, box-shadow;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  color: inherit;
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid transparent;
}
.navBarLink:hover {
  /* rgb(213, 220, 213) */
  background-color: rgba(132, 167, 142, 0.185);
  box-shadow: rgba(212, 212, 212, 0.3) 0 3px 3px -1px;
  border: 1px solid rgba(149, 177, 149, 0.192);
}
.paragraph {
  /* justify-content: start; */
  align-items: flex-start;
  text-align: start;
}
.page {
  opacity: 1;
  animation-name: pageOpen;
  animation-duration: 0.325s;
  animation-timing-function: ease-out;
}
.drawer {
  height: 100%;
  animation-name: drawer;
  animation-duration: 0.325s;
  animation-timing-function: ease-out;
}
.contentSelector {
  transition-property: border-color, color, background-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  color: rgb(223, 219, 219);
  background-color: rgb(54, 61, 56);
  
}
.contentSelector.active {
  background-color: rgb(113, 129, 118);
}
.contentSelector:hover {
  color: whitesmoke;
}
.dark-bg {
  color: whitesmoke;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  min-width: 120%;
  padding: 10px 5px;
  background: rgb(52, 53, 53);
}
.hide-scrollbar::-webkit-scrollbar {
  width: none;
  height: none;
}
.hide-scrollbar {
  scrollbar-width: none;
}
.nowrap {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@keyframes drawer {
  from {height: 0%;}
  to {height: 100%;}
}
@keyframes pageOpen {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes appOpen {
  from {opacity: 0;}
  to {opacity: 1;}
}